{{>header}}
<h2 class="page-heading">Books you are currently reading</h2>
<div class="table-container">
        <table class="books-table">
            <tr>
                <th>Book Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Action</th>
            </tr>
            {{#each currentlyReadingBooks}}
            <tr>
                <td class="book-table-img-wrapper">
                    <img src="{{image}}">
                </td>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td>{{genre}}</td>
                <td>{{year}}</td>
                <td>
                    <button><a href="#/edit/{{objectId}}">Edit</a></button>
                    <button class="delete"><a href="#/delete/{{objectId}}">Delete</a></button>
                </td>
            </tr>
            {{/each}}
         
        </table>
</div>
{{>footer}}